.home-wrapper {
    background-color:  #333333;
    width: 360px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}

.home-header {
    text-align: center;
    width: 100%;
    color: #f5a623;
}

.nextPage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPage a {
    color:  rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem;
    background-color: #f5a623;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
}
.info {
    margin-top: 2rem;
}

.formDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #f1f1f1;
}

.addedMovies {
    height: 350px;
    width: 100%;
    overflow: auto;
}

form {
   width: 100%;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   border-top: 1px solid orange;
   border-bottom: 1px solid orange;
}

.inputAndBtn {
    display: flex;
    gap: 1rem;
}

input {
width: 225px;
font-size: 1.2rem;
padding: 0.5rem;
}


label {
    font-size: 1.3rem;
    color:  #f1f1f1;
}

.addMovie {
   padding: 1rem 2rem;
   background-color: #f5a623;
   color: rgb(255, 255, 255);
   border-radius: 5px;
   font-size: 1.2rem;
   cursor: pointer;
}

.addedMovies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.newMovie {
    background-color:  #4d4d4d;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.newMovie p {
    color: #f5a623;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.home-completed {
    background-color: #27ae60;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.home-delete {
    background-color: rgb(218, 20, 20);
    cursor: pointer;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

